<template>
  <div class="container">
    <div v-if="User">
      <p>Hi</p>
    </div>
    <div>
      <form @submit.prevent="submit">
        <div>
          <label for="title">Titre:</label>
          <input type="text" name="title" v-model="form.title" />
        </div>
        <div>
          <textarea
            name="write_up"
            v-model="form.oliver"
            placeholder="Aide mémoire..."
          ></textarea>
        </div>
        <button type="submit">Soumettre</button>
      </form>
    </div>
    <div class="posts" v-if="Posts">
      <ul>
        <li v-for="post in Posts" :key="post.ids">
          <div id="post-div">
            <p>{{ post.title }}</p>
            <p>{{ post.oliver }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div v-else>Oh non!!! Aucune mémoire !</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Posts',
  components: {},
  data () {
    return {
      form: {
        title: '',
        oliver: ''
      }
    }
  },
  created: function () {
    // a function to call getposts action
    this.GetPosts()
  },
  computed: {
    ...mapGetters({ Posts: 'StatePosts', User: 'StateUser' })
  },
  methods: {
    ...mapActions(['CreatePost', 'GetPosts']),
    async submit () {
      try {
        await this.CreatePost(this.form)
        this.form = {
          title: '',
          oliver: ''
        }
      } catch (error) {
        // eslint-disable-next-line no-throw-literal
        throw new TypeError('ERROR')
      }
    }
  }
}
</script>
<style scoped>
  * {
    box-sizing: border-box;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 30px;
    margin: 10px;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  input {
    width: 60%;
    margin: 15px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 30px;
  }

  textarea {
    width: 75%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    height: 150px;
    margin: 15px;
  }

  ul {
    list-style: none;
  }

  #post-div {
    border: 3px solid #000;
    width: 500px;
    margin: auto;
    margin-bottom: 5px;
  }
</style>
